<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
	<link href="{:config('admin_static')}/css/style.css" rel="stylesheet" type="text/css" />
	<style type="text/css">

		.box th, .box td{border: 1px solid #ccc;}
        .box b{color:blue;}
        li{list-style: none;}
        .box .ul_f{float:left;padding-right: 15px;} 
        .box .ul_f li{margin-left: 15px} 
        .box .son{padding-left: 10px;}
	</style>
	<script type="text/javascript" src='{:config("admin_static")}/js/jquery.js'></script>
</head>
<body>
	<form action="" method="post">
	角色名称:<input type="text" name="role_name"  class="dfinput">
	<table width="600px" border="1px" rules="all" class="box">
		<!-- 循环顶级(1级权限) -->
		<?php  foreach($children[0] as $one_auth_id): ?>
		<tr>
			<th><input onclick="all_select(this);" type="checkbox" value='<?php echo $one_auth_id; ?>' name="auth_id_list[]"><?php echo $auths[ $one_auth_id ]['auth_name']; ?></th>
			<td>
				<!-- 循环顶级(2级权限) -->
				<?php  foreach($children[ $one_auth_id ]?:array() as $two_auth_id): ?>
				<ul class="ul_f">
					<b><input onclick="all_select(this);up_select(this,'{$one_auth_id}')" value="<?php echo $two_auth_id;  ?>" type="checkbox" name="auth_id_list[]"><?php echo $auths[ $two_auth_id ]['auth_name']; ?></b>
					<ul>
						<!-- 循环顶级(3级权限) -->
						<?php foreach($children[ $two_auth_id ]?:array() as $three_auth_id):  ?>
						<li class="son">
							<input  value="<?php echo $three_auth_id; ?>" type="checkbox" onclick="up_select(this,'{$two_auth_id},{$one_auth_id}')" name="auth_id_list[]"><?php 
							echo $auths[$three_auth_id]['auth_name']  ?>
						</li>
					<?php  endforeach ;?>
					</ul>
				</ul>
				<?php endforeach; ?>
			</td>
		</tr>
	<?php  endforeach; ?>
	</table>
	<input type="submit" name="" id="btnSubmit" class="btn">
</form>
	<script type="text/javascript">
	function all_select(obj){
		//找到当前对象的父元素的下一个兄弟元素,并且找到名为input的子孙元素
		//都跟着当前元素的选中状态,都选中那么都不选中
        $(obj).parent().next().find('input').prop('checked',obj.checked);
    }

    function up_select(obj,ids){

    	console.log(ids);
        var arr = ids.split(','); // [1,5]
        for(var k in arr){
        	//把对应的复选框选中
            $('input[value='+arr[k]+']').prop('checked',true);
        }
        //找到当前元素的名为td的祖先,在往下找选中的复选框的个数
        var length = $(obj).parents("td").find("input[type='checkbox']:checked").length;
        if(length == 0){
            $(obj).parents('tr').find('th > input').prop('checked',false);
        }
    }
	</script>
</body>
</html>