<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>无标题文档</title>
    <link href="{:config('admin_static')}/css/style.css" rel="stylesheet" type="text/css" />
    <script language="JavaScript" src="{:config('admin_static')}/js/jquery.js"></script>
    <script language="JavaScript" src="/plugin/jquery.validate.js"></script>
    <style>
        .active{
            border-bottom: solid 3px #66c9f3;
        }
        label.error{
            color : red;
        }
    </style>
</head>

<body>
    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li><a href="#">首页</a></li>
            <li><a href="#">表单</a></li>
        </ul>
    </div>
    <div class="formbody">
        <div class="formtitle">
            <span class="active">基本信息</span>
            

        </div>
        <form action="" method="post">
            <input type="hidden" name="role_id" value="{$data['role_id']}">
            <ul class="forminfo">
                <li>
                    <label>角色名称</label>
                    <input name="role_name" value="{$data['role_name']}" placeholder="请输入角色名称" type="text" class="dfinput" />
                </li>
                
                 <li>
                    <label>分配权限</label>
                    
                </li>
                <table width="600px" border="1px" rules="all" class="box">
                    <!-- 循环顶级(1级权限) -->
                    <?php  foreach($children[0] as $one_auth_id): ?>
                    <tr>
                        <th><input onclick="all_select(this);" type="checkbox" value='<?php echo $one_auth_id; ?>' name="auth_id_list[]"><?php echo $auths[ $one_auth_id ]['auth_name']; ?></th>
                        <td>
                            <!-- 循环顶级(2级权限) -->
                            <?php  foreach($children[ $one_auth_id ]?:array() as $two_auth_id): ?>
                            <ul class="ul_f">
                                <b><input onclick="all_select(this);up_select(this,'{$one_auth_id}')" value="<?php echo $two_auth_id;  ?>" type="checkbox" name="auth_id_list[]"><?php echo $auths[ $two_auth_id ]['auth_name']; ?></b>
                                <ul>
                                    <!-- 循环顶级(3级权限) -->
                                    <?php foreach($children[ $two_auth_id ]?:array() as $three_auth_id):  ?>
                                    <li class="son">
                                        <input  value="<?php echo $three_auth_id; ?>" type="checkbox" onclick="up_select(this,'{$two_auth_id},{$one_auth_id}')" name="auth_id_list[]"><?php 
                                        echo $auths[$three_auth_id]['auth_name']  ?>
                                    </li>
                                <?php  endforeach ;?>
                                </ul>
                            </ul>
                            <?php endforeach; ?>
                        </td>
                    </tr>
                <?php  endforeach; ?>
                </table>
            </ul>
            <li>
                    <label>&nbsp;</label>
                    <input name="" id="btnSubmit" type="submit" class="btn" value="确认保存" />
             </li>
        </form>
    </div>
</body>
<script>
   // $("select[name='pid']").val("{$data['pid']}");
   // //给select元素name绑定事件
   // $("select[name='pid']").change(function(){
   //      var pid = $(this).val();
   //      if(pid == 0){
   //          //说明是顶级权限
   //          //把控制器名和操作名的input设置为:
   //          $("input[name='role_c'],input[name='role_a']").prop('readonly',true).val();
   //      }else{
   //          //非顶级可用,可用输入控制器和方法名
   //          $("input[name='role_c'],input[name='role_a']").prop('readonly',false);
   //      }
   // });
   // $("select[name='pid']").change();
   var auth_id_list = "{$data['auth_id_list']}";
   var auth_id_arr = auth_id_list.split(',');
   $("input[type='checkbox']").val(auth_id_arr);
   function all_select(obj){
    $(obj).parent().next().find('input').prop('checked',obj.checked);
   }
   function up_select(obj,ids){
    
   }
   // //把当前权限的对应的option标签给remove删除
   // $("select[name='pid'] > option[value="+ {$data['role_id']} +"]").remove();
   // //获取当前所有的数据源,在所有的option中查找
   // var option = $("select[name='pid'] > option");
   // //递归找到当前对应的role_id的子孙权限
   // function findAuthSons(options,role_id){
   //  //判断option的pid属性值等于上面role_id的值,说明找到的其子权限
   //  $.each(option,function(){
   //      if($(this).attr('pid') == role_id){
   //          $(this).remove();
   //          //递归调用
   //          findAuthSons(options,$(this).val());
   //      }
   //  }); 
   // }
</script>

</html>
