 {volist name='lists' id='list'}
                <tr>
                    <td>
                        <input name="" type="checkbox" value="" />
                    </td>
                    <td>{$list['order_id']}</td>
                    <td>{$list['username']}</td>
                    <td>{$list['receiver']}/{$list['address']}</td>
                    <td>{$list['tel']}/{$list['zcode']}</td>
                    <td>￥{$list['total_price']}</td>
                    <td>{:config('pay_status')[$list['pay_status']]}</td>
                    <td>{:config('send_status')[$list['send_status']]}</td>
                    <td>
                        <?php if( $list['pay_status']==1 && $list['send_status']==0 ){?>
                        <a href="{:url('admin/order/upd',['id'=>$list['id']])}"   class="showContent tablelink">配置物流</a> 
                        <?php  } ?>
                    <?php else if( $list['pay_status']==1 && $list['send_status']==1 ){　?>
                        <a href="javascript:;" number="{$list['number']}" company="{$list['company']}" class="wuliu tablelink">查看物流</a>
                        <?php  } ?>
                    <?php else if($list['pay_status']==0){ ?>
                        <span style="color:pink">请等待买家付款</span>
                        <?php  } ?>
                    
                        
                    </td>
                </tr>
{/volist}